.contact-msg-card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(135deg, #ddd, #ff6600);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact-msg-card textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.contact-msg-card button {
  margin-right: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

.replied {
  color: green;
  background: #000;
  padding: 8px 10px;
  border: 1px dashed #fff;
  border-radius: 10px;
}

.pending {
  color: orange;
  background: #000;
  padding: 8px 10px;
  border: 1px dashed #fff;
  border-radius: 10px;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
}

.cancel-btn {
  background-color: gray;
  color: white;
}
