.hero-banner {
  height: 80vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero_content {
  flex: 1;
  min-width: 280px;
  padding: 2rem;
  text-align: left;
  animation: fadeInLeft 1.5s ease;
}

.hero_content h1 {
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke: 1.5px #f97316;
  text-stroke: 1.5px #f97316;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero_content p {
  font-size: 1.2rem;
  color: #222;
  margin-bottom: 1.5rem;
}
.slogan1 {
  font-size: 1.5rem !important;
  color: #ff6601 !important;
  border-radius: 50px;
  padding: 10px;
  text-align: right;
}

.cta-button {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background-color: #e55b00;
}

.hero_banner_content {
  flex: 1;
  min-width: 250px;
  text-align: center;
  animation: float 3s ease-in-out infinite;
}

.hero_banner_content img {
  width: 400px;
  max-width: 90%;
  height: auto;
  box-shadow: none;
  background: transparent;
}

/* Girl floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Text entrance */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 768px) {
  .hero-banner {
    flex-direction: column-reverse;
    height: auto;
    padding: 2rem 1rem;
  }

  .hero-content {
    text-align: center;
    padding: 1rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-content2 img {
    width: 220px;
  }
}
