.idle-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.idle-popup-box {
  background: rgba(246, 156, 121, 0.507);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.idle-popup-box > h3 {
  text-align: center;
}
.idle-popup-box > p {
  text-align: center;
}
.popup-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #ff5e00;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.popup-buttons button:last-child {
  background-color: grey;
}
