.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
  min-height: 80vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.product-details img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.details {
  flex: 1;
  max-width: 600px;
}

.details h2 {
  font-size: 2rem;
  color: #e66400;
}

.details .price {
  font-size: 1.4rem;
  color: #444;
  margin: 1rem 0;
}

.details .desc {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.details button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  background-color: #e66400;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.details button:hover {
  background-color: #cc5900;
}

.loader,
.error {
  font-size: 1.3rem;
  color: #999;
  padding: 2rem;
  text-align: center;
}

.back-btn {
  margin-left: 30px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid orange;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
